// @project-border-radius: 2px;
// @project-font-size: 12px;
// @project-height: 35px;
// @project-padding: 10px;
// @project-animation-time: .35s;
// @project-selected-color: @brand-primary;
// @project-menu-height: 50px;
// @project-border-color-1: @c-group-wg1-grey-2;
// @project-background-color-0: white;
// @project-background-color-1: @c-group-wg1-grey-0;
// @project-background-color-2: darken(@c-group-wg1-grey-0, 2%);
// @project-background-color-3: darken(@c-group-wg1-grey-0, 4%);
// @project-delete-color: @c-red;
// @project-modal-wrapper-color: rgba(0, 0, 0, .5);
// @project-ac-1: #838383;
// @project-ac-2: #999999;
// @project-ac-3: lighten(@project-ac-2, 25%);
// @project-ac-4: #C2DDB0;
// @project-ac-5: #C2DDB0;

/* ========================================================================== */
/* Fonts */
/* ========================================================================== */

@font-primary: sans-serif;
@color-primary: #009999;
@color-second: #1D7373;
@color-third: #006363;

