@import './variables.less';

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-h {
    display: flex;
    justify-content: center;
}

.flex-v {
    display: flex;
    align-items: center;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.btn-default {
    display: block;

// box-sizing: border-box;
    // min-width: 136px;
    // height: 37px;

    cursor: pointer;

// text-align: center;
    text-decoration: none;

// letter-spacing: .6px;
    text-transform: uppercase;

    opacity: .9;
    color: #0C7186;

// border: 1.5px solid #0C7186;
    // border-radius: 4px;
    // background-color: #0C7186;
    // color: @interactive-element-color;
    // background-color: transparent;
    // box-shadow: inset 3px 3px @interactive-element-color,
    // inset -3px -3px @interactive-element-color;
    //   padding: 13px 12px 11px 12px;

    font-family: @font-primary;
    font-size: 14.17px;
    font-weight: normal;
    line-height: 18px;
}
